In [26]:
import os
import json
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### route_highway.txt

In [27]:
# route_highway_epoch24_rain-noon_fi_ghost_cutin

In [28]:
file_path = os.path.join("simulation_results", "route_highway_epoch24_rain-noon_fi_ghost_cutin", "route_highway.txt")

try:
    with open(file_path, 'r', encoding='utf-8') as file:
        content = file.read()
        data = json.loads(content)  # Parse the JSON data

except FileNotFoundError:
    print("The specified file was not found.")
except json.JSONDecodeError:
    print("Error in parsing the JSON content.")
except Exception as e:
    print(f"An error occurred: {e}")

In [29]:
data

{'_checkpoint': {'global_record': {},
  'progress': [0, 1],
  'records': [{'index': 0,
    'infractions': {'collisions_layout': [],
     'collisions_pedestrian': [],
     'collisions_vehicle': ['Agent collided against object with type=vehicle.tesla.model3 and id=323 at (x=193.126, y=-22.683, z=0.035)'],
     'outside_route_lanes': [],
     'red_light': [],
     'route_dev': [],
     'route_timeout': [],
     'stop_infraction': [],
     'vehicle_blocked': []},
    'meta': {'duration_game': 10.05000014975667,
     'duration_system': 26.93295931816101,
     'route_length': 131.56012567009267},
    'route_id': 'RouteScenario_0',
    'scores': {'score_composed': 28.898348248856212,
     'score_penalty': 0.6,
     'score_route': 48.16391374809369},
    'status': 'Failed'}]},
 'eligible': False,
 'entry_status': 'Started',
 'labels': [],
 'sensors': ['carla_camera',
  'carla_camera',
  'carla_camera',
  'carla_imu',
  'carla_gnss',
  'carla_speedometer'],
 'values': []}

In [30]:
records = data["_checkpoint"]["records"]
df = pd.DataFrame(records)
df.head()

,index,infractions,meta,route_id,scores,status
0,0,"{'collisions_layout': [], 'collisions_pedestri...","{'duration_game': 10.05000014975667, 'duration...",RouteScenario_0,"{'score_composed': 28.898348248856212, 'score_...",Failed

### _ctl.csv

In [31]:
file_path = os.path.join("simulation_results",
                        "route_highway_epoch24_clear-night_fi_ghost_cutin",
                        "routes_fi_route_highway-0910_142625-data_fi_ghost_cutin-single_ctl.csv")
ctl_df = pd.read_csv(file_path)
ctl_df.shape

(820, 5)

In [32]:
ctl_df.head()

       ts  agent_id  throttle     steer  brake
0  542558         0       0.9 -0.003379    0.0
1  542559         0       0.9 -0.010903    0.0
2  542560         0       0.9 -0.009867    0.0
3  542561         0       0.9 -0.011255    0.0
4  542562         0       0.9  0.000766    0.0

In [33]:
ctl_df['brake'].value_counts()

brake
0.0    734
1.0     86
Name: count, dtype: int64

In [34]:
ctl_df[ctl_df['brake']==1].head()

         ts  agent_id  throttle     steer  brake
144  542702         0       0.0  0.052981    1.0
145  542703         0       0.0  0.033657    1.0
146  542704         0       0.0  0.031307    1.0
147  542705         0       0.0  0.025756    1.0
148  542706         0       0.0  0.010700    1.0

In [35]:
start_index = 140
end_index = 150
specific_rows = ctl_df.iloc[start_index:end_index+1]
specific_rows

         ts  agent_id  throttle     steer  brake
140  542698         0  0.900000 -0.002323    0.0
141  542699         0  0.900000  0.005971    0.0
142  542700         0  0.900000  0.030870    0.0
143  542701         0  0.837753  0.037018    0.0
144  542702         0  0.000000  0.052981    1.0
145  542703         0  0.000000  0.033657    1.0
146  542704         0  0.000000  0.031307    1.0
147  542705         0  0.000000  0.025756    1.0
148  542706         0  0.000000  0.010700    1.0
149  542707         0  0.000000  0.005118    1.0
150  542708         0  0.792055  0.003919    0.0

### _cvip.csv

In [36]:
file_path = os.path.join("simulation_results",
                        "route_highway_epoch24_clear-night_fi_ghost_cutin",
                        "routes_fi_route_highway-0910_142625-data_fi_ghost_cutin-single_cvip.csv")
cvip_df = pd.read_csv(file_path)
cvip_df.shape

(820, 6)

In [37]:
cvip_df.head()

       ts  agent_id        cvip      cvip_x     cvip_y      cvip_z
0  542558         0  500.491189  198.767441 -95.832657 -499.819366
1  542559         0    5.595580  195.567444 -90.832657    0.100000
2  542560         0    5.592365  195.567444 -90.832657    0.095407
3  542561         0    5.589578  195.567444 -90.832657    0.084691
4  542562         0    5.587154  195.567444 -90.832657    0.069311

### _traj.csv

In [38]:
file_path = os.path.join("simulation_results",
                        "route_highway_epoch24_clear-night_fi_ghost_cutin",
                        "routes_fi_route_highway-0910_142625-data_fi_ghost_cutin-single_traj.csv")
traj_df = pd.read_csv(file_path)
traj_df.shape

(820, 6)

In [39]:
traj_df

         ts  agent_id           x          y         z         v
0    542558         0  192.362411 -86.262680  0.539326  0.000000
1    542559         0  192.362411 -86.262680  0.491906  0.000000
2    542560         0  192.362411 -86.262680  0.438374  0.000000
3    542561         0  192.362411 -86.262680  0.378732  0.000000
4    542562         0  192.362411 -86.262680  0.312981  0.000000
..      ...       ...         ...        ...       ...       ...
815  543373         0  189.801575  43.074722  0.033570  8.986841
816  543374         0  189.799118  43.299892  0.033578  9.014528
817  543375         0  189.796585  43.525742  0.033586  9.041392
818  543376         0  189.793945  43.752205  0.033595  9.065408
819  543377         0  189.791092  43.979267  0.033604  9.089388

[820 rows x 6 columns]